.para-external {
    color:cadetblue ;
    background-color: beige;
    margin-bottom: 50px;
    border: 1px solid green;
    padding: 20px 20px 0 0;
    height: 100px;
    width: 400px;
}

.resume {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*default smartphone*/
.resume > foto{
    width: 100%;
}

/*tablet*/
@media (min-width: 768px;){
    .resume > foto{
        width: 80%;
    }
}

/*pc*/
@media (min-width: 992px;){
    .resume > foto{
        width: 60%;
    }
}